.btn {
	background-color: rgba(254, 76, 2, 1);
	color:white;
	text-decoration: none;
	padding: 0.8rem 1rem;
	display: inline-block;
	font-weight: 300;
	font-size: 0.8rem;
	border-radius: 1rem;

		@mixin atSmall {
		  font-size: 1.1rem;
		  padding: 0.9rem 2rem;
		}

		@mixin atMedium{
			 font-size: 1.1rem;
		  padding: 1rem 1.2rem;
			
		}

		@mixin atLarge{
			font-weight: 300;
			font-size: 1rem;
			
		}


	&__large {
		padding: 0.5rem 1rem;
		background-color: rgba(254, 76, 2, 0.8);

		@mixin atSmall {
		  padding: 1rem 1rem;
		}

		@mixin atMedium{
			font-weight: 300;
			
		}

		@mixin atLarge{
			font-weight: 300;
			font-size: 1.5rem;
		}
	}
}