.feture-item {
	position: relative;
		&__icon {
			position: absolute;
			width:4rem;
			left:39%;
			top:13%;
			

		}
		
			&__headline {
			font-size: 1.5rem;
			text-align: center;
			margin-bottom: 4rem;
		}


		@mixin atSmall {
			position: relative;
			padding-left: 245px; 

			&__icon {
			position: absolute;
			left:15%;
			width: 90px;
			
			}

			&__headline {
			font-size: 2rem;
			margin: 0 0 5px 0;
		}
	
	}
}
