.feture-item {
	padding: 0 0 2rem 5.8rem;
	position: relative;
	

		&__icon {
			position: absolute;
			width:65px;
			height: 65px;
			left:0;
		}

		&__title {
			font-size: 1.875rem;
			font-weight: 400;
			margin-bottom: .8rem;
			
		}


}
