.large-hero {
	position: relative;

	&__text-content {
		position: absolute;
		top:30%;
		transform: translateY(-50%);
		left:0;
		width: 100%;
		text-align: center;
	}

	&__picture {
		display: block;
	}

	&__ripple {
		width: 100%;
		height: 470px;
		position: absolute;
		z-index: 10;
		top:528px;
	}

	
}




