.large-hero {
	position: relative;

    &__text-dark {
		position: absolute;
		top:27%;
		left:0%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		max-width: 112rem;
		height: 30rem;
		border-radius: 100%;
	}

	&__title {
		font-weight: 500;
		font-size: 4.8rem;
		color: $dwhite;
		margin: 0;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2 );
		border-radius: 1rem;
		max-width: 60rem;
		margin-left: auto;
		margin-right: auto;


	}

	&__subtitle {
		font-weight: 400;
		font-size: 3.2rem;
		color: $dwhite;
		margin: 0;
		text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2 );
		max-width: 25rem;
		margin-left: auto;
		margin-right: auto; 
		border-radius: 1rem;
	}

	&__text-content {
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		left:0;
		width: 100%;
		text-align: center;
	}

	
}




