.large-hero {
	position: relative;
	color: rgba(139, 139, 139, 0.1);

    &__text-dark {
		position: absolute;
		top:10%;
		left:0%;
		width: 100%;
		max-width: 100rem;
		height: 10rem;
		border-radius: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		
		@mixin atSmall {
			background-color: rgba(0, 0, 0, 0.2);
			top:2%;
			height: 20rem;
		}

		@mixin atMedium{
			top:15%;
			
		}

		@mixin atLarge{
			background-color: rgba(0, 0, 0, 0.2);
			height: 28rem;
			top:25%;
		}
	}

	&__title {
		font-weight: 400;
		font-size: 1.3rem;
		color: $dwhite;
		margin-bottom:  0.2rem;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2 );
		border-radius: 1rem;
		max-width: 60rem;
		margin-left: auto;
		margin-right: auto;
		

		
		@mixin atSmall{
			font-weight: 400;
			font-size: 2.3rem;
			
		}

		@mixin atMedium{
			font-weight: 400;
			font-size: 3.8rem;
			
		}

		@mixin atLarge{
			font-weight: 400;
			font-size: 4.8rem;
			
		}


	}

	&__subtitle {
		font-weight: 300;
		font-size: 1rem;
		color: $dwhite;
		margin: 0;
		text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2 );
		max-width: 8rem;
		margin-left: auto;
		margin-right: auto; 
		border-radius: 1rem;

		@mixin atSmall{
			font-weight: 300;
			font-size: 1.2rem;
			max-width: 10rem;
		}

		@mixin atMedium{
			font-weight: 300;
			font-size: 2.2rem;
			max-width: 20rem;
		}

		@mixin atLarge{
			font-weight: 300;
			font-size: 3.2rem;
			max-width: 29rem;
			
		}
	}

	&__text-content {
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		left:0;
		width: 100%;
		text-align: center;
	}

	&__picture {
		display: block;
	}

	
}




