.page-section {
	padding: .5rem 0 ;
	position: relative;

	@mixin atSmall {
		padding: 4.5rem 0 ;
	}

	&__blue {
		background-color: #2f5572;
	}

	&__light-blue {
		background-color: #2f5572b0;
	}

	&__picture-service {
		background: url('/assets/images/team-background.jpg') top center no-repeat;
		background-size: cover;
		
	}
	&__picture-tech1 {
		background: url('/assets/images/QUEST-TITAN.jpg') top center no-repeat;
		background-size: cover;
		height: 70rem;
		opacity: 1;

		
	}
	
	&__picture-tech2 {
		background: url('/assets/images/QUEST-DETECT.jpg') top center no-repeat;
		background-size: cover;
		height: 70rem;
		opacity: 1;

		
	}

}