.row {

	@mixin clearfix;
		

			&__med-3 {
				max-width: 25%;
				float: left;
				padding-left: 65px;
				background-color: red; 
				
			}


			&__med-4 {
				width: 33.33%;
				float: left;
				background-color: green;
			 
			}

			&__med-6 {
				width: 50%;
				float: left;

			}


			&__space > div {
				padding:0 66px;
			}
			

			
			


			



			
}
	
