.service {
			
			&__block {
				background-color: red;
				margin:0 2rem;
			}

			&__img {
			width: 100px;
			}

			&__headline {
				
				text-align: center;
				font-size: 1.5rem;
			}

			&__icon{
				
			}
}


