.tech {
	position: relative;
	
	

	&__img {
		height: 70rem;
		width: 100%;
		display: block;
		


		
		
	}

	&__content-left {
		max-width: 400px;
		color: white;
		opacity: 0.8;
		position: absolute;
		z-index: 1;
		top: 100px;
		display: none;
		
		
	}

	&__content-right {
		max-width: 400px;
		color: white;
		opacity: 0.8;
		position: absolute;
		z-index: 1;
		top: 100px;
		right: 5rem;
		display: none;
		
	}

	&__headline {
		font-weight: 700;
		font-size: 3.5rem;
		color:$mainOrange;
		
	}

	&__p{
		font-size: 1.25rem;
	}
}