.test {

		
		width: 100%;
		margin: 0;
		padding: 0;
		top: 0;
		left: 0;
		height: 100px;
		background-color: green;

		

		&__4 {
			 width: 33.33%;
			 height: 200px;
   			 float:left; 
  			 border: 1px solid red;
  			 background-color: blue;
		}

}